body {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #000;
}

footer {
    border-top: 1px solid #000;
}

main {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

main > div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column;
    word-wrap: break-word;
    transition: 1s;
}

main > div > *:nth-child(2) {
    flex: 1 1 auto;
    overflow-x: hidden;
}

.note-input {
    width: 100%;  
    border: none;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    resize: none;
}

.note-preview {
    border-left: 1px solid #000000;
}