html, body {
    margin: 0;
    height: 100%;
    background: rgba(240,240,240,1);
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #888888;
}

.add-note-button {
    text-align: center;
    border-radius: 50%;
    background: #000000;
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    line-height: 50px;
    margin: 10px;
    float: right;
    box-shadow: 0 1px 10px 1px #888;
}

.add-note-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    background: rgba(240,240,240,0.8);
}

.add-note-div {    
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 5px;
    background: rgba(240,240,240,1);
}
