html, body {
    margin: 0;
    height: 100%;
    background: rgba(240,240,240,1);
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #888888;
}

.add-note-button {
    text-align: center;
    border-radius: 50%;
    background: #000000;
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    line-height: 50px;
    margin: 10px;
    float: right;
    box-shadow: 0 1px 10px 1px #888;
}

.add-note-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    background: rgba(240,240,240,0.8);
}

.add-note-div {    
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #888888;
    background: rgba(240,240,240,1);
}

.add-note-div > div {
    padding: 5px;
    height: 100%;
    width: 50%;
}

.add-note-input {    
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}

.add-note-preview {
    border-left: 1px solid #000000;
}
